body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.App{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/***********ID CARD*****************/
.IdCard{
  display: flex;
  border: 1px solid black;
}

.IdCard div img {
  width: 150px;
  padding: 5px;
}

.IdCard .dataUser {
  line-height: 70%;
}


/***********GREETINGS*****************/

.greetingsBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.eachGreetingsBox{
  border: 1px solid black;
  
}

.eachGreetingsBox p{
  margin-left: 10px;
 
}

/***********RANDOM*****************/

.randomBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.eachRandomBox{
  border: 1px solid black;
}

.eachRandomBox p{
  margin-left: 10px;
}

/***********BOX COLOR*****************/
.boxColorBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.eachBoxColor{
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}