body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.App{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/***********ID CARD*****************/
.IdCard{
  display: flex;
  border: 1px solid black;
}

.IdCard div img {
  width: 150px;
  padding: 5px;
}

.IdCard .dataUser {
  line-height: 70%;
}


/***********GREETINGS*****************/

.greetingsBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.eachGreetingsBox{
  border: 1px solid black;
  
}

.eachGreetingsBox p{
  margin-left: 10px;
 
}

/***********RANDOM*****************/

.randomBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.eachRandomBox{
  border: 1px solid black;
}

.eachRandomBox p{
  margin-left: 10px;
}

/***********BOX COLOR*****************/
.boxColorBox{
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.eachBoxColor{
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

/***********CREDIT CARD*****************/

.creditCardBox{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.eachCreditCard{
  width: 300px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  
}

.eachCreditCard .logoCard{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.eachCreditCard .logoCard img{
  width: 50px;
}

.eachCreditCard .maskNumber {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
}

.eachCreditCard .expirationAndBank{
  display: flex;
  gap: 20px;
  padding-left: 10px;
}

.eachCreditCard .owner {
  padding-left: 10px;
}

/***********RATING STARS*****************/
.eachRowStar{
  font-size: 250%;
}

/***********DRIVER CARD*****************/

.driverCardBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eachDriverCard{
  display: flex;
  background-color: #455EB5;
  border-radius: 15px;
  color: white;
  justify-content: center;
  align-items: center;
}

.eachDriverCard img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 25px;
 
}

.infoDriver{
  font-size: 1.8rem;
  line-height: 0.5;
  
}

.carModel{
  font-size: 20px;
}

/***********LIKE BUTTON*****************/
.likeButtonBox{
  display: flex;
  gap: 10px;
 
}

.likebutton button{
 padding: 10px 20px;
 font-size: 2rem;
 background-color: #455EB5;
 color: aliceblue;
 border: 2px solid grey;
}

/***********LIKE BUTTON*****************/
.clickablePic{
  width: 400px;
  cursor: pointer;
}
